
src/Nicholas/EEGAssignment_LSTM/\.ipynb_checkpoints/

src/Nicholas/EEGAssignment_LSTM/002/\.ipynb_checkpoints/

src/Nicholas/EEGAssignment_LSTM/003\.bk\.01/\.ipynb_checkpoints/

src/Nicholas/EEGAssignment_LSTM/003\.bk\.01/

src/Nicholas/EEGAssignment_LSTM/003\.bk\.03/

src/Nicholas/EEGAssignment_LSTM/003\.bk\.02/

src/Nicholas/EEGAssignment_LSTM/003/\.ipynb_checkpoints/

src/Nicholas/EEGDataAnalysis/\.ipynb_checkpoints/

src/Nicholas/LSTMExperimentation/01_TimeSeriesPredictionsWithLSTM/\.ipynb_checkpoints/

src/Nicholas/LSTMExperimentation/02_TimeSeriesMultivariateWithLSTM/\.ipynb_checkpoints/

src/Nicholas/LSTMExperimentation/03_FiveStepLifeCycleLSTMMemoryModels/\.ipynb_checkpoints/

src/Nicholas/TimeSeriesExperimentation/03_BasicFeatureEngineeringWithTimeSeriesData/\.ipynb_checkpoints/

src/Nicholas/TimeSeriesExperimentation/04_BacktestMachineLearningModelsForTimeSeriesForecasting/\.ipynb_checkpoints/

src/Nicholas/TimeSeriesExperimentation/05_NormalizeAndStandardizeTimeSeriesData/\.ipynb_checkpoints/

src/Nicholas/EEGAssignment_LSTM/004/\.ipynb_checkpoints/

src/Gabriel/Deliverable/\.ipynb_checkpoints/
